h1 {
    text-align: left;
    font-size: 50;
}

ul {
    text-align: right;
    font-size: 25;
}

h2 {
    text-align: center;
    font-size: 40;
}

p1 {
    text-align: center;
    font-size: 25px;
    text-indent: 0.5in
}

