.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;        
    background: red;
    padding: 10px 0;
    color: #fff;
}

.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color: blue;
}

h1 {
    float: left;
    font-size: 45px;
    margin-top: 10px;
    margin-left: 225px;
}

nav {
    float: right;
    font-size: 35px;
    margin-top: 9px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    margin-right: 100px;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

a:link {
    color: black;
}
a:hover {
    color: blue;
}
a:active {
    color: red;
}

li:first-child {
   margin-right: 200px;
}

li:nth-child(2n) {
    margin-right: 200px;
}

li:last-child {
    margin-right: 200px;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

h2 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 10px;
    padding-top: 200px;
}

p {
    text-align: left;
    font-size: 25px;
    text-indent: 48px;
    line-height: 35px;
    margin-top: 0px;
}

